{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - DMARC</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="{% static 'dmarc_reporting/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css"
          href="{% static 'dmarc_reporting/css/application.min.css' %}" />
  </head>
  <body>
{% include 'dmarc_reporting/navbar.html' %}
    <div id="content">
{% block content %}{% endblock %}
    </div>
  </body>
</html>
