<nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-targer="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'dmarc_reporting:domains_list' %}">DMARC Reporting</a>
    <div id="navbarCollapse" class="collapse navbar-collapse">
{% if request.user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dmarc_reporting:domains_list' %}">Domains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dmarc_reporting:logout' %}">Logout</a>
        </li>
      </ul>
{% endif %}
    </div>
  </div>
</nav>
